<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228441935823-sn31v6577ipmfm7r27idt97htdks7o54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228441935823-sn31v6577ipmfm7r27idt97htdks7o54</string>
	<key>API_KEY</key>
	<string>AIzaSyCXxew052nSUBt1KuxflV4OXV7tMCgK47g</string>
	<key>GCM_SENDER_ID</key>
	<string>228441935823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>business.fairuznew2</string>
	<key>PROJECT_ID</key>
	<string>kenabecha2-6c754</string>
	<key>STORAGE_BUCKET</key>
	<string>kenabecha2-6c754.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228441935823:ios:594a4fb7206c59a480ccba</string>
</dict>
</plist>